@tailwind base;
@tailwind components;
@tailwind utilities;


.btnSignin {
    background-color: #618ECA;
    color: white;
    
}

.btnSignin:hover {
    background-color: #618ECA;
    color: white;
}